<!DOCTYPE html>
<html lang="es" prefix="og: https://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Jansel Roa" />
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    <meta property="og:description" content="Hello, I'm Jansel Roa Full stack developer in constantly learning. I specialize in javascript and python" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="I'm Full stack developer with extensive knowledge in the world of computing and web development">
    <meta name="title" content="Hello, I'm Jansel Roa web developer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/icon.png">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>Jansel Roa</title>
</head>

<body>
    <header class="header">
        <h1>Hello, I'm Jansel Roa </h1>
        <h2 class="rol">Full stack Developer</h2>
    </header>
    <nav class="nav">
        <ul>
            <li><a href="#about-me">About Me</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#proyects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <div id="about-me" class="aboutMe">
            <h2 class="subtitle">About Me</h2>
            <div class="aboutMe__content flex">
                <img class="tipo" src="static/img/tipo.jpg" alt="tipo">
                <div>
                    <h2>Jansel Roa</h2>
                    <p>15 year old <strong>full stack web developer</strong> in the Dominican Republic passionate about software development and constantly learning. I specialize in javascript and python</p>
                </div>
            </div>
        </div>
        <section class="skills" id="skills">
            <h2 class="subtitle">skills</h2>
            <div class="flex">

                <article class="skills__item">
                    <img src="static/img/javascript.png" alt="python">
                    <div>

                        <h2>JavaScript</h2>
                        <p>It is the language that allows us to grant interactivity and functionality on the client side, also this can be executed in an environment outside the browser (with node and deno)</p>
                    </div>
                </article>

                <article class="skills__item">
                    <img src="static/img/node.jpg" alt="node">
                    <div>
                        <h2>Nodejs</h2>
                        <p>It is a V8 based javascript execution environment that allows us to execute javascript outside the browser</p>
                    </div>
                </article>

                <article class="skills__item">
                    <img src="static/img/expressjs.jpg" alt="express">
                    <div>
                        <h2>Express</h2>
                        <p>express is a minimalist and flexible javascript framework for backend applications</p>
                    </div>
                </article>

                <article class="skills__item">
                    <img src="static/img/vuejs.svg" alt="vuejs">
                    <div>
                        <h2>Vuejs</h2>
                        <p>It is a progressive javascript framework that allows developing robust client-side applications</p>
                    </div>
                </article>
                <article class="skills__item">
                    <img src="static/img/python.jpg" alt="python">
                    <div>

                        <h2>Python</h2>
                        <p>Python is a modern, fast and simple language, with an understandable and readable code philosophy, and a general approach to the market. It is one of the most used languages ​​today.</p>
                    </div>
                </article>
                <article class="skills__item">
                    <img src="static/img/flask.png" alt="flask">

                    <div>
                        <h2>Flask</h2>
                        <p>It is a progressive python framework that allows us to develop client-side applications in a simple and progressive way</p>
                    </div>
                </article>

                <article class="skills__item">
                    <img src="static/img/html.jpg" alt="html">
                    <div>
                        <h2>HTML</h2>
                        <p>The markup language that allows us to give structure to web pages</p>
                    </div>
                </article>
                <article class="skills__item">
                    <img src="static/img/css.jpg" alt="css">
                    <div>
                        <h2>CSS</h2>
                        <p>Cascading style language, allows adding styles and layout to web pages, complemented with SASS</p>
                    </div>
                </article>

                <article class="skills__item">
                    <img src="static/img/sass.jpg" alt="sass">
                    <div>
                        <h2>Sass</h2>
                        <p>It is a CSS preprocessor that allows us to write css styles in a faster and more agile way</p>
                    </div>
                </article>
            </div>
        </section>
        <section id="proyects">
            <h2 class="subtitle">Proyects</h2>
            <div class="proyects__content flex">

                <article>
                    <img src="static/img/to-do-app.jpg">
                    <div>
                        <h3>To do list</h3>
                        <p>a task app with a flexible and customizable interface made in vuejs</p>
                        <hr>
                        <a class="btn btn-code" target="_blank" href="https://github.com/janselroa/To-do-List">Ver codigo</a> |
                        <a class="btn" target="_blank" href="https://janselroa.github.io/To-do-List/">Ver en vivo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/find-books.jpg" alt="find books">
                    <div>
                        <h3>Find books app</h3>
                        <p>a web application in which you can search for books and written content quickly, based on google books and javascript</p>
                        <hr>
                        <a class="btn btn-code" target="_blank" href="https://github.com/janselroa/find-books-app">Ver codigo</a> |
                        <a class="btn" target="_blank" href="https://practical-hamilton-a5fe30.netlify.app/">Ver en vivo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/gitprofiles.jpg" alt="github profiles">
                    <div>
                        <h3>Github profile</h3>
                        <p>a small application with black and white mode in which you can search any github profile and see the details of the profile and latest repos</p>
                        <hr>
                        <a class="btn btn-code" target="_blank" href="https://github.com/janselroa/github-profiles">Ver en vivo</a> |
                        <a class="btn" target="_blank" href="https://janselroa.github.io/github-profiles/">Ver codigo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/sliderPro.jpg" alt="slider">
                    <div>
                        <h3>Slider Pro</h3>
                        <p>an image slider made in html, css, javascript</p>
                        <hr>
                        <a class="btn" target="_blank" href="https://github.com/janselroa/sliderPro">Ver codigo</a> |
                        <a class="btn" target="_blank" href="https://janselroa.github.io/sliderPro/">Ver en vivo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/cat-web.jpg" alt="cat web">
                    <div>
                        <h3>Cat Web</h3>
                        <p>a web of kittens, random cats and more, check in python flask, and js</p>
                        <hr>
                        <a class="btn" target="_blank" href="https://github.com/janselroa/cat-web">Ver codigo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/web-clima.jpg" alt="Clima">
                    <div>
                        <h3>Web Clima</h3>
                        <p>a little weather web put into python flask</p>
                        <hr>
                        <a class="btn" target="_blank" href="https://github.com/janselroa/web-clima">Ver codigo</a>
                    </div>
                </article>
                <article>
                    <img src="static/img/pong.jpg" alt="pong game">
                    <div>
                        <h3>Pong game</h3>
                        <p>pong game made with python pygame framework</p>
                        <hr>
                        <a class="btn" target="_blank" href="https://github.com/janselroa/juego-de-pong">Ver codigo</a>
                    </div>
                </article>

                <article>
                    <img src="static/img/notepad.jpg" alt="notepad">
                    <hr>
                    <div>
                        <h3>notepad</h3>
                        <p>An improved clone of windows notepad made with Tkinter python</p>
                        <hr>
                        <a class="btn" target="_blank" href="https://github.com/janselroa/notepad">Ver codigo</a>
                    </div>
                </article>
            </div>
            <p>more proyects in my profile of <a href="https://github.com/janselroa">github</a></p>
        </section>
        <form id="contact" action="/send-mail" method="POST">
            <h2>Contact by email</h2>
            <input type="text" name="title" placeholder="Title: " required>
            <input type="email" name="mail" placeholder="Your e-mail " required>
            <textarea name="message" placeholder="Message content" required></textarea>
            <input type="submit" value="Send Mail">
        </form>
    </div>

    <script src="static/js/main.js"></script>
</body>

</html>
